
<body onhashchange="hashChanged();">

<%= render "shared/right_top_p" %>

<div class="main">
    <div class="profile ">
        <div class="container profile-container">
            <div class="user-img-info">
                <img src="/images/logo.png" class="user-img img-circle">
            </div>
            <div class="user-info">
                <h2 class="user-name">
                    <%= @user.x_username %>
                    <a class="edit" href="#"></a>
                </h2>
                <p class="user-subtitle"><%= @user.job%></p>
                <p class="user-bio"><%= @user.intro %></p>
            </div>
            <div class="user-follow">
                <a href="#" class="follow-following">
                    <div class="follow-number">0</div>
                    <div class="follow-label">关注</div>
                </a>
                <a href="#"  class="follow-follower">
                    <div class="follow-number">0</div>
                    <div class="follow-label">粉丝</div>
                </a>
            </div>
        </div>
    </div>
    <div class="profile-nav">
        <div class="row">
            <ul class="list-inline nav-menu">
                <li id="stared-pro-"  class="active"><a href="#stared-pro">赞过的项目</a></li>
                <li id="shared-pro-"><a  href="#shared-pro">分享的项目</a></li>
                <li id="commented-pro-" ><a href="#commented-pro">评论过的项目</a></li>
                <li id="user-info-"><a href="#user-info">个人资料</a></li>
            </ul>
        </div>
    </div>
    <div id="nav-content">
        <div id="stared-pro-panel"  style="display: block">
            <ul class="project-list list-unstyled">
              <% @stared_projects.each do |star_project| %>
                <li class="data-li">
                    <button class="btn fl up_bt">
                        <span class="up_icon glyphicon glyphicon-triangle-top block"></span>
                        <span class="up_num "><%=star_project['stars_num']%></span>
                    </button>
                    <div class="project-des fl">
                        <h4><a href="/projects/<%= star_project['project']['id'] %>"><%= star_project['project']['title'] %></a></h4>
                        <p><%= star_project['project']['intro_content'][0,65] %></p>
                    </div>
                    <div class="up_user_list fr">
                        <ul class="nav nav-pills">
                          <% index = 0 ;star_project['star_users'].each do |user| %>
                              <% index+= 1; if index == star_project['star_users'].length %>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%= user['user_avatar']%>"></img>
                                    <div class="project-comment">
                                      <a class="project-comments"><%=star_project['stars_num'] %></a>
                                    </div>
                                  </li>
                              <%else%>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%=user['user_avatar']%>"></img>
                                  </li>
                              <% end%>
                          <% end %>
                        </ul>
                    </div>
                </li>
              <% end %>
            </ul>
        </div>

        <div id="shared-pro-panel"  style="display: none">
            <ul class="project-list list-unstyled">
              <% @shared_projects.each do |project|%>
                <li class="data-li">
                    <button class="btn fl up_bt">
                        <span class="up_icon glyphicon glyphicon-triangle-top block"></span>
                        <span class="up_num "><%= project['stars_num'] %></span>
                    </button>
                    <div class="project-des fl">
                        <h4><a href="/projects/<%= project['project']['id'] %>"><%= project['project']['title'] %></a></h4>
                        <p><%= project['project']['intro_content'][0,65] %></p>
                    </div>
                    <div class="up_user_list fr">
                        <ul class="nav nav-pills">
                          <% index = 0 ;project['star_users'].each do |user| %>
                              <% index+= 1; if index == project['star_users'].length %>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%=user['user_avatar']%>"></img>
                                    <div class="project-comment">
                                      <a class="project-comments"><%=project['stars_num'] %>></a>
                                    </div>
                                  </li>
                              <%else%>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%=user['user_avatar']%>"></img>
                                  </li>
                              <% end%>
                          <% end %>
                        </ul>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>

        <div id="commented-pro-panel"  style="display: none">
            <ul class="project-list list-unstyled">
              <% @commented_projects.each do |comment_project| %>
                <li class="data-li">
                    <button class="btn fl up_bt">
                        <span class="up_icon glyphicon glyphicon-triangle-top block"></span>
                        <span class="up_num "><%= comment_project['project']['stars_num'] %></span>
                    </button>
                    <div class="project-des fl">
                        <h4><a href="/projects/<%= comment_project['project']['id'] %>"><%= comment_project['project']['title'] %></a></h4>
                        <p><%= comment_project['project']['intro_content'][0,65] %></p>
                    </div>
                    <div class="up_user_list fr">
                        <ul class="nav nav-pills">
                          <% index = 0 ;comment_project['star_users'].each do |user| %>
                              <% index+= 1; if index == comment_project['star_users'].length %>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%=user['user_avatar']%>"></img>
                                    <div class="project-comment">
                                      <a class="project-comments"><%=comment_project['stars_num'] %>></a>
                                    </div>
                                  </li>
                              <%else%>
                                  <li class="user_ava_li">
                                    <img class="img-responsive user-avatar" src="<%=user['user_avatar']%>"></img>
                                  </li>
                              <% end%>
                          <% end %>
                        </ul>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>

        <div id="user-info-panel" style="display: none">
            <!-- 修改个人信息-->
            <div id="user-info-edit" >
                <span class="form-tips">修改个人信息</span>
                <form>
                    <div class="form-group row col-md-8">
                        <label for="user-nickname">昵称</label>
                        <input  type="email" class="form-control" id="user-nickname" placeholder="<%=@user.x_username %>" value="<%=@user.x_username %>">
                    </div>
                    <div class="form-group row col-md-8">
                        <label for="user-avatar">头像</label>
                        <img src="<%=@user.avatar %>" class="edit-avatar">
                        <input type="file" id="user-avatar" >
                    </div>
                    <div class="form-group row col-md-8">
                        <label for="user-intro">简介</label>
                        <textarea rows="3"  class="form-control" id="user-intro" placeholder="<%=@user.intro%>" value="<%= @user.intro%>"></textarea>
                    </div>
                    <div class="form-group row col-md-8">
                        <label for="user-job">职业</label>
                        <input type="text" class="form-control" id="user-job" placeholder="<%=@user.job%>" value="<%=@user.job%>">
                    </div>
                    <div class="form-group row col-md-8">
                        <button type="submit" class="btn btn-primary">保存资料</button>
                    </div>
                </form>
            </div>
            <!-- 修改密码-->
            <div class="clear"></div>
            <div id="user-pass-edit" >
                <span class="form-tips">修改密码</span>
                <form>
                    <div class="form-group row col-md-8">
                        <label for="user-old-pass">当前密码</label>
                        <input  type="password" class="form-control" id="user-old-pass" placeholder="当前密码">
                    </div>

                    <div class="form-group row col-md-8">
                        <label for="user-new-pass">新密码</label>
                        <input type="password" class="form-control" id="user-new-pass" placeholder="新密码">
                    </div>
                    <div class="form-group row col-md-8">
                        <label for="user-new-pass-confirm">确认新密码</label>
                        <input type="password" class="form-control" id="user-new-pass-confirm" placeholder="确认新密码">
                    </div>
                    <div class="form-group row col-md-8">
                        <button type="submit" class="btn btn-primary">确认修改</button>
                    </div>
                </form>
            </div>
            <!-- 订阅-->
            <div class="clear"></div>
            <div id="user-subscribe" >
                <span class="form-tips">订阅</span>
                <form>
                    <div class="form-group row col-md-8">
                        <label for="user-old-pass">邮箱</label>
                        <input  type="email" class="form-control" id="user-email" placeholder="邮箱">
                    </div>
                    <div class="radio col-md-8">
                        <label>
                            <input type="radio" name="optionsRadios" id="cancel-sub" value="option1" checked>
                            不发送
                        </label>
                        <label>
                            <input type="radio" name="optionsRadios" id="confirm-sub" value="option2">
                            发送周报
                        </label>
                    </div>
                    <div class="form-group row col-md-8">
                        <button type="submit" class="btn btn-primary">确认修改</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div class="clear"></div>

<% content_for :tail do %>
<!-- 处理多标签 -->
<script type="text/javascript">
    function changePanel(id){
//        alert('#'+id+'-');
        var curEle = $('#'+id+'-').siblings('li.active');
        curEle.removeClass('active');
        var curId = curEle.attr("id");

//        alert('#'+curId+'panel');
        $('#'+curId+'panel').css('display', 'none');

        $('#'+id+'-').addClass("active");
        $('#'+id+'-panel').css('display', 'block');
    }
    function hashChanged() {
        var hash = window.location.hash;
        var id = hash.substr(1);
        if (id != ''){
            changePanel(id);
        }
    };
    // 页面加载完成执行一次
    hashChanged();
</script>
<% end %>
<%= render 'shared/footer'%>