<p id="notice"><%= notice %></p>

<p>
  <strong>X username:</strong>
  <%= @user.x_username %>
</p>

<p>
  <strong>X email:</strong>
  <%= @user.x_email %>
</p>

<p>
  <strong>X projects:</strong>
  <%= @user.x_projects_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
