<% if @user %>
<!-- Create Project Modal -->
<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新建项目</h4>
      </div>
      <div class="modal-body">

        <%= form_for(:project, url: projects_path) do |f| %>



          <div class="form-group">
            <label for="projectName"><span class="red">&nbsp;*&nbsp;</span>项目名称</label>
            <%= f.text_field :title, class: "form-control", placeholder: "项目名称" %>
          </div>
          <div class="form-group">
            <label for="projectLang"><span class="red">&nbsp;*&nbsp;</span>项目语言</label>
            <%= f.text_field :language, class: "form-control", placeholder: "涉及多语言,请用逗号隔开,如：java, HTML" %>
          </div>
          <div class="form-group">
            <label for="projectAddr"><span class="red">&nbsp;*&nbsp;</span>项目地址</label>
            <%= f.text_field :source_url, class: "form-control", placeholder: "项目地址,如：http://github.com/HuntCode/" %>
          </div>
          <div class="form-group">
            <label for="projectDes"><span class="red">&nbsp;*&nbsp;</span>一句话描述这个产品</label>

            <%= f.text_area :intro_content, class: "form-control", placeholder: "一句话描述这个产品", style: "resize: none", rows: "4" %>

          </div>

          <%= f.submit "创建项目", class: "btn btn-primary" %>

        <% end %>
      </div>

    </div>
  </div>
</div>
<% end %>

<div class="container">
  <div class='head row'>
    <div class="col-md-4">
      <%= form_for(:project, url: '/projects/search') do |f| %>
          <div class="input-group">
            <%= f.text_field :data,class:"form-control", id: "search", placeholder:"搜索" %>
            <!--<input type="text" class="form-control" id="search" name="data" placeholder="Search">-->
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
      <% end %>
    </div>
    <div class="col-md-4  align-center ">
      <ul class="list-inline" id="menu-list">
        <li><a href="/">发现</a></li>
        <li><a href="/"><img src="/images/logo.png" alt="huntcode" class="logo img-circle"></a></li>
        <li><a href="/projects">项目库</a></li>
      </ul>

    </div>
    <div id="login_reg" class="dropdown col-md-4 align-right">
      <% if @user != nil %>
      <a id="dropdownMenu1" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        欢迎，<%= @user.x_username %>
        <span class="caret"></span>
      </a>
      <ul id="dropdown-menu" class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/users/<%= @user.id %>">个人主页</a>
        </li>
        <li role="presentation">
    <%= link_to "退出", signout_path, :method => :delete %>
        </li>

      </ul>
      <!--<a class='' href='#'>登录/注册</a>-->
      <span><a href="" data-toggle="modal" data-target="#createProject">&nbsp;新建项目</a></span>

      <% else %>
      <a class='' href='/loginReg'>登录/注册</a>
      <% end %>
    </div>
  </div>
</div>
