<% content_for :head do %>
    <link href="/css/modal.css" type="text/css" rel="stylesheet">
    <link href="/css/project_detail.css" type="text/css" rel="stylesheet">
<% end %>

<body>

<%= render "shared/right_top_main" %>

<div class="main container">
    <div class="">
        <div class="project-detail row">
            <div class="project-left col-lg-9">
                <div>
                    <% if @user %>
                    <img src="<%= @user.avatar %>" class="avatar img-circle fl">
                    <% end %>
                    <div class="project-detail-des fl">
                        <h3><a href="javascript:void(0)"><%= @project.title %><span class="lang-label-bg label label-info"><%= @project.language %></span></a></h3>
                        <span class="project-content">
                        <%= @project.intro_content %>
                        <!--<p>创建者id:<%= @project.user_id %></p>-->
                        <!--<p>项目地址:<%= @project.source_url %></p>-->
                        <!--<p>项目语言:<%= @project.language %></p>-->
                        <!--<p>状态:<%= @project.status %></p>-->
                        <!--<p>创建时间:<%= @project.created_at %></p>-->
                        <!--<p>更新时间:<%= @project.updated_at %></p>-->
                        </span>
                        <span class="project-content" style="margin-top: 15px;"><strong>项目地址: </strong><a style="text-decoration:underline;color: #2e6da4" href="<%= @project.source_url %>"><%= @project.source_url %></a></span>
                    </div>
                    <div class="share">
                        <div>分享到:</div>
                        <div class="share-wechat">
                            <a href="javascript:void(0)" >
                                <i class="svg-wechat"></i>
                                <span>微信</span>
                            </a>
                            <div class="dropdown-share share-dropdown">
                                <img src="http://api.qrserver.com/v1/create-qr-code/?data=<%=request.url%>" alt="?data=http%3a%2f%2fnext.36kr" height="156" width="156">
                                <span>微信扫一扫：分享</span>
                            </div>
                        </div>
                        <div class="share-weibo">
                            <a>
                                <i class="svg-weibo"></i>
                                <span>微博</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                <div id="comments">
                    <!-- TODO 评论 -->
                    <span class="comment-tips">评论(<%=@comments.count%>)</span>
                    <div id="comment-form">
                       <%= form_for(:comment, url: project_comments_path(@project.id)) do |f| %>
                          <%= f.text_area :content, class: "form-control", placeholder: "看帖不留言，必得肩周炎~", style: "resize: none", rows: "4" %>
                          <%= f.submit "提交评论", class: "btn btn-primary post-comment" %>
                       <% end %>
                    </div>
                    <div class="clear"></div>
                    <div class="split-line"></div>
                    <ul id="comment-data">
                        <% if @comments.count == 0 %>
                           <div style="margin: auto;text-align: center; font-size: 16px">还没有人评论(⊙o⊙)…</div>
                        <% else %>
                          <% @comments.each do |comment|%>
                              <li class="comment-item">
                                <img src="<%=comment.user.avatar %>" class="avatar img-circle fl">
                                <div class="comment-info">
                                  <div class="comment-info-head">
                                    <span class="commenter-name"><%= comment.user.x_username %></span>
                                    <span class="commenter-title">&nbsp;&nbsp;<%=comment.user.job %></span>
                                    <span class="comment-time"><%= comment.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></span>
                                  </div>

                                  <div class="comment-content">
                                    <%= comment.content %>
                                  </div>
                                </div>
                                <div class="clear"></div>
                              </li>
                          <% end %>
                        <% end %>

                    </ul>
                </div>
            </div>
            <div class="project-right col-lg-3">
                <div>
                    <strong class="project-title-tips"><span><%=@stars.count%></span>人点赞</strong>
                    <ul class="star-users list-inline">
                        <% if @stars.count == 0 %>
                            还没有人点赞额~
                        <% else %>
                          <% @stars.each do |star| %>
                              <li><img src="<%= star.user.avatar %>" class="avatar img-circle"></li>
                          <% end %>
                        <% end %>

                    </ul>
                </div>
                <div class="sim-project">
                    <strong class="project-title-tips">相似项目</strong>
                    <ul class="star-users">
                          <% if @sim_projects.count == 0 %>
                              还没有发现相似的项目~
                          <% else %>
                            <% @sim_projects.each do |project|%>
                               <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
                            <% end %>
                          <% end %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
