<p id="notice"><%= notice %></p>

<p>
  <strong>Sub email:</strong>
  <%= @subscribe.sub_email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscribe.status %>
</p>

<%= link_to 'Edit', edit_subscribe_path(@subscribe) %> |
<%= link_to 'Back', subscribes_path %>
